<div class="container">
    <div class="search">
        <!-- <i class="fa fa-search icon"></i> -->
        <input class="search-input" 
            type="text"
            #movieSearchInput 
            placeholder="Search movies here..." />
        <button (click)="getRandomMovie()" class="random-button">Random Movie</button>
        <div class="movie-result" *ngIf="listOfMovieResult.length > 0">
            <ul>
                <li *ngFor="let movie of listOfMovieResult" class="result-item" (click)="selectMovie(movie.id); movieSearchInput.value = ''">
                    <img src="https://image.tmdb.org/t/p/w200/{{movie.poster_path}}" alt="No Result">
                    <span>{{movie.original_title}}</span>
                    <p>{{movie.release_date}}</p>
                </li>
            </ul>
        </div>
    </div>

    <!-- Movie result grid  -->
    <div class="flex-grid-thirds">
        <div class="col col-poster">
            <div class="selected-movie" *ngIf="selectedMovie">
                <img class="movie-poster" src="https://image.tmdb.org/t/p/original/{{selectedMovie.poster_path}}" alt="No Result">
                <h2 class="movie-name">{{selectedMovie.original_title.trim()}}</h2>
            </div>
        </div>
        <div class="col col-trailer">
            <div *ngIf="selectedMovie">
                <div *ngIf="trailerSafeSource != undefined" class="trailer-clip">
                    <iframe [src]="trailerSafeSource" height='350' width='400' frameborder="0" allowfullscreen></iframe>
                </div>                   
                <h2 class="movie-name">
                    Overview
                </h2>
                <p class="movie-overview">{{selectedMovie.overview}}</p> 
            </div>
        </div>
        <div class="col col-cast" *ngIf="moviecasts.length > 0">
            <h3 class="cast-header">Casts</h3>
            <div class="casts">
                <div class="cast" *ngFor="let cast of moviecasts">
                    <img class="movie-cast" src="https://image.tmdb.org/t/p/original{{cast.profile_path}}" alt="No Result">
                    <p>{{cast.original_name}}</p>    
                    <!-- <p>{{cast.original_name}} <b>as </b> {{ cast.character }}</p>     -->
                </div>
            </div>
        </div>
    </div>
</div>
