.search {
    width : 100%;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.search-input {
    width : 35%;
    margin : 0 auto;
    border-radius: 3px!important;
    height: 25px;
    font-size : 1rem;
    min-width: 155px;
}
.movie-result { 
    z-index : 10;
    margin : 0 auto;
    padding : 0;
    width : 35%;
    top: 131px !important;
    text-align : left;
    position : fixed !important;
    border : 1px solid #2f2f2f;
    /* border-radius: 5px!important; */
    min-width: 155px;
}
.movie-result ul {
    margin: 0;
    padding: 0;
}
.result-item {
    cursor : pointer;
    display : block;
    overflow : auto;
    width : 100%;
    padding : 5px 0;
    font-size : 1rem;
    background-color : #333;
    border-bottom: 1px solid #2f2f2f;
    min-width: 155px;
}
li img {
    margin-left : 5px;
    position: relative;
    width : 5%;
    object-fit:cover;
    object-position:50% 50%;
    float : left;
    margin-right : 15px;
    min-width: 40px;
    max-height: 60px;
}
li span {
    color : white;
    margin-right : 5px;
}
.random-button { 
    margin-top : 10px;
}

.selected-movie {
    width : 100%;
    position: relative;
    /* display: flex; */
    /* flex-flow: column wrap;
    align-items: center; */
}

.flex-grid-thirds {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
}

.col {
    /* background: salmon; */
    width: 55%;
}
.col-poster {
    width: 25%
}
.col-cast {
    width: 20%;
    height: 70vh;
    overflow-y: scroll;
}

.movie-poster {
    margin-left : 15px;
    width: 75%;
    height: auto;
    border : 5px solid black;
    border-radius: 3px!important;
    text-align:center;
}


.movie-trailer {
    margin-left : 15px;
    border : 5px solid black;
    border-radius: 3px!important;
    text-align:center;
    width: auto;
}

.movie-name {
    margin-left : 15px;
    width : 80%;
    white-space: pre-wrap;
    word-break: keep-all; 
    text-align:left;    
}
.movie-overview {
    margin : 0 auto;
    padding : 0;
    width : 90%;
    white-space: pre-wrap;
    word-break: keep-all; 
    text-align:left;
}


/* @media (min-width: 600px) {
    .movie-poster {
        margin : 15px auto 0 auto;
        width: auto;
        height: 100vh;
        border : 5px solid black;
        border-radius: 3px!important;
        text-align:center;
    }    
    .movie-name {
        margin : 5px 0;
        width : 45%;
        white-space: pre-wrap;
        word-break: keep-all; 
        text-align:center;
    }
    .movie-overview {
        margin : 0 auto;
        padding : 0;
        width : 55%;
        white-space: pre-wrap;
        word-break: keep-all; 
        text-align:center;
    }
} */

@media (max-width: 900px) {
    
    .flex-grid-thirds {
        display: block;
      }
      .flex-grid .col,
      .flex-grid-thirds .col {
        width: 100%;
        margin: 0 0 10px 0;
    }
    .selected-movie {
        width : 100%;
        position: relative;
        display: flex; 
        flex-flow: column wrap;
        align-items: center;
    }
    .movie-poster {
        margin : 5px 0;
    }    
}

.col-poster {
    min-width: 155px;
}

.casts {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

.movie-cast {
    width: 40%;
    height: auto;
    border : 5px solid black;
    border-radius: 3px;
}

.casts .cast {
    padding: 15px 0;
    width: 50%;
    text-align: center;
    /* padding: 20px; */
}

.cast-header {
    margin : 0;
    text-align : center;
}
.trailer-clip {
    width: 100%;
    height: auto;
    overflow:hidden;
    text-align: center;
    margin-top: 20px;
}